<a href="https://colab.research.google.com/github/Ashik9576/SQL/blob/main/paisa_Bazar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Creating DataSet for SQL**

In [ ]:
# Install SQlite & Pandasql
!pip install db-sqlite3
!pip install pandasql

# Importing Libraries
import pandas as pd
import sqlite3
from pandasql import sqldf
mysql = lambda q: sqldf(q, globals())


# Connection to DataBase
conn = sqlite3.connect('test4_database') 
c = conn.cursor()


# Create table
c.execute('''DROP TABLE IF EXISTS t1;''')

c.execute('''CREATE TABLE t1 (
[Month] DATE,
[Store] CHAR,
[Sales]  INTEGER);''')


          
# Insert data into table          
c.execute('''INSERT INTO t1 VALUES ('01/01/19', 'A', 100);''') 
c.execute('''INSERT INTO t1 VALUES ('01/02/19', 'A', 300);''') 
c.execute('''INSERT INTO t1 VALUES ('01/03/19', 'A', 500);''') 
c.execute('''INSERT INTO t1 VALUES ('01/01/19', 'B', 50);''') 
c.execute('''INSERT INTO t1 VALUES ('01/02/19', 'B', 300);''') 
c.execute('''INSERT INTO t1 VALUES ('01/03/19', 'B', 50);''') 
c.execute('''INSERT INTO t1 VALUES ('01/01/19', 'C', 200);''') 
c.execute('''INSERT INTO t1 VALUES ('01/02/19', 'C', 200);''') 
c.execute('''INSERT INTO t1 VALUES ('01/03/19', 'C', 100);''') 
c.execute('''INSERT INTO t1 VALUES ('01/01/19', 'D', 150);''') 
c.execute('''INSERT INTO t1 VALUES ('01/02/19', 'D', 100);''') 
c.execute('''INSERT INTO t1 VALUES ('01/03/19', 'D', 200);''') 

conn.commit()

# Get DataFrame
conn = sqlite3.connect('test4_database') 
t1= pd.read_sql_query ('''SELECT * FROM t1''',conn)

Requirement already satisfied: db-sqlite3 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: db in /usr/local/lib/python3.7/dist-packages (from db-sqlite3) (0.1.1)
Requirement already satisfied: antiorm in /usr/local/lib/python3.7/dist-packages (from db->db-sqlite3) (1.2.1)
Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.35)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.2.0)

In [ ]:
mysql('''select * from t1''')

       Month Store  Sales
0   01/01/19     A    100
1   01/02/19     A    300
2   01/03/19     A    500
3   01/01/19     B     50
4   01/02/19     B    300
5   01/03/19     B     50
6   01/01/19     C    200
7   01/02/19     C    200
8   01/03/19     C    100
9   01/01/19     D    150
10  01/02/19     D    100
11  01/03/19     D    200

# **Loading Dataset For Python**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
table=pd.read_csv('/content/drive/My Drive/SQL/sales_data.csv')

In [ ]:
table

       Month Store  Sales
0   01/01/19     A    100
1   01/02/19     A    300
2   01/03/19     A    500
3   01/01/19     B     50
4   01/02/19     B    300
5   01/03/19     B     50
6   01/01/19     C    200
7   01/02/19     C    200
8   01/03/19     C    100
9   01/01/19     D    150
10  01/02/19     D    100
11  01/03/19     D    200

# **Question 1)**
Write a Code to extract the maximum sales in each month along with the store which had maximum sales. In case of a tie in a given, retain all stores with maximum sales

PFB sample output:

![Screenshot (39).png]()

In [ ]:
#SQl
mysql('''select Month, max(Sales) as Max_Sales, Store as Store_max from t1 group by Month ''')

      Month  Max_Sales Store_max
0  01/01/19        200         C
1  01/02/19        300         A
2  01/03/19        500         A

In [ ]:
#Python
table.groupby(pd.Grouper(key='Month', axis=0, sort=True)).max()

         Store  Sales
Month
01/01/19     D    200
01/02/19     D    300
01/03/19     D    500

# **Question2)** 
Using the same dataset as earlier
Print the Numbers of stores with Sales greater than 100 in each month

Expected output


![Screenshot (40).png]()

In [ ]:
#SQL
mysql('''select Month, Count(Sales) as Sales_gt_100 from t1 where Sales >100 group by Month''')

      Month  Sales_gt_100
0  01/01/19             2
1  01/02/19             3
2  01/03/19             2

In [ ]:
#Python

# **Question3)**
In the Overall Data bucket sales into three buckets(irrespective of month) and summarize

Expected output

![Screenshot (41).png]()

In [ ]:
#SQL
mysql('''''')

In [ ]:
#Python

# **Question4)**
For each store comment whether sales are monotonically increasing month on month for each store

Monotonically increasing is defined as
Sales(01/03/19)>Sales(01/02/19)>Sales(01/01/19)

Expected output

![Screenshot (42).png]()

In [ ]:
#python